/*.editor_content{padding: 2rem;}*/
.editor-container{
    color: #000000;
    width: 100%;
    margin: auto;
}
.editor-contenteditable-div {
    height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
    background-color: #E6E6E6;
}
.editor-container .editor-contenteditable-div .editable-range, .editor-contenteditable-div .editable-range{
    min-height: 100%;
    padding: 50px 120px;
    width: 100%;
    margin: auto;
    background-color: #ffffff;

}
.editor-default .editor-toolbar {
    z-index: 8;
}
.btn_save{    margin-right: 0.3%;
    background-color: #1F5FA0;
    padding: 2px;
    border: 1px solid #74B6D8;
    height: 2rem;
    border-radius: 2px;
    width: 8.1%;
}

.top_content{margin: 1% 0;}
.title_input{
    /* vertical-align: middle; */
    width: 40.2%;
    border-radius: 2px 0 0 2px;
    height: 2rem;
    background-color: #0f2c4a;
    outline: none;
    color: white;
    border: solid 1px #1c5388;
    margin: 0 0.3% 0 0;
}
.display_no{
    display: none;
}
.editor-default .editor-toolbar {
    z-index: 8 !important;
}

.top_content .editor-default .editor-toolbar {
    z-index: 0;
}
