* {
    margin: 0;
    padding: 0;
    /*font-family: '宋体';*/
}
/*body {
    height:100%;
}*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.display-none {
    display: none;
}
.container-fluid{
    position: relative;
    overflow-x: hidden;background-color: #031E3B;
    height: 88vh;
}
.text-center {
    text-align: center;height: 5%;
    width: 100%;
}

.header {
    margin: auto;
    height: auto;
}

.header-img {
    width: auto;
    height: 100%;
}

.header-title {
    color: white;
    font-size: 1.3rem;
    /*  font-size: 1.3em;*/
}

.home {
    color: white;
    /* font-size: 1rem;*/
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #45617C;
    border-radius: 3px;
    padding: 2px;
    height: 85%;
    vertical-align: bottom;
    position: absolute;
    top: 2px;
    right: 10px;
}

.home-img {
    width: auto;
    height: 100%;
    vertical-align: bottom;
}

.home-bt{
    position: absolute;
    right: 2%;
    top: 1%;
    color: #c4e3ff;
    border: 1px solid #c4e3ff;
    border-radius: 0.3rem;
    padding: 0.2rem 0.6rem;
    z-index: 2;
    cursor: Pointer;
    display: none;

}
.home-bt>img{width: 1.6rem;}
.home-bt>span{vertical-align: middle;}

.multiDetermine .all_echart{
    height: 89%;
    width: 100%;
    display: flex;
}
.multiDetermine .all_echart>div{
    height: 100%;
}
.multiDetermine .all_echart> .left, .multiDetermine .all_echart> .right{
    width: 22%;
}
.multiDetermine .all_echart> .middle{
    width: 55%;
}
.multiDetermine .all_echart>.middle{
    position:relative;
}
.multiDetermine .mul_chart_box { 
    width: 99%;
    float: left;
    height: 32.5%;
    border: none;
    background-image: url("../../images/stateAnalysis/echat-bgX1.5.png");
    background-size: 100% 100%;
    margin: 0.5%;
}
.multiDetermine .mul_chart_box > div {
    width: 100%;
    height: 100%;
}

.multiDetermine .center-info {
    display: table-cell;
    color: #f5f687;
}
/*.center-info>marquee{height: 3rem;}*/

.chart-bingdianMap .all_radio_group{
    width: 100%; align-items: center;padding: 1.5rem; position: relative; z-index: 6;}
.chart-bingdianMap .all_radio_group>li {float:left;list-style: none; font-size: 0.8rem; margin: 0.2% 1%;white-space: nowrap; cursor: pointer;}
.chart-bingdianMap .map-legend{width: 100%;height: 20%;display: flex;justify-content: space-between;}


.chart-map {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 90%;
}

.chart-singleMap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.chart-bingdianMap{border: 1px solid #ddf9fd; width: 29%; height: 20%;position: absolute;bottom: 0;right: 0;z-index: 9; display: none}
.chart-bingdianMap .bingdian-title{background-color: #ddf9fd; color: #232323;display: inline-block;padding: 1% 4%;position: absolute; z-index: 6;}
.chart-bingdianMap .main-chart{width: 100%; height: 100%;}


.center-img {
    padding: 10px 0 0 10px;
    display: table-cell;
}

.center-img img {
    cursor: pointer;
}
.center-content{
    list-style: none;
    position: absolute;
    background-color: rgba(3,30,59,0.8);
    width: 90%;
    padding: 0.5rem;
}
.center-content li{
    color: yellow;
}

.chartPanel {
    position: fixed;
    background-color: #041f3b;
    width: 75%;
    height: 75%;
    top: 12%;
    left: 12%;
    margin: 0;
    z-index: 1000;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

#closeChartPanel {
    color: white;
    font-size: 2em;
}


li a.active {
    color: yellow;

}

li a.active:before {
    background-color: yellow;
}


.ant-radio-wrapper {
    font-size: 1.2rem!important;
    color: #87a1bc;
}
